@import "../styles.scss";
.contacts_cont {
    padding-top: 50px;
    margin-top: -50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contItem_cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @include phone {
        margin-top: 20px;
    }
}

.contItem {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    span {
        margin-right: 7px;
        color: #666666;
    }
}
