@import "../styles.scss";

.portfContent {
    margin-top: 57px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
    @include phone {
        margin-top: 30px;
    }
}

.dotsCont {
    span {
        user-select: none;
        margin-bottom: 15px;
        margin-right: 5px;
        color: lightGrey;
        cursor: pointer;
        font-size: 50px;
    }
}
